

.hidden{
    visibility: hidden;
}
.show{
    visibility: visible;

}
.header{
    background-color: hsl(var(--hue-color), 100%, 99%); ;
}
.poster{
position: relative;
overflow: hidden;
}
.categorie-poster{
    position: relative;
    display: block;
    object-fit: cover;
    object-position: top;
    overflow: hidden;

}



/* BUTTONS =====================*/
.quiary-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
}
.fillter-btn , .shorting-btn{
    border: 2px solid var(--text-color-light);
    cursor: pointer;
    padding: 7px;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}
.shorting-btn:hover .shorting_detail{
    visibility: visible;
}
.shorting-icon{
    transition: .3s ease-in-out ;
}
.shorting-btn:hover .shorting-icon{
    transform: rotate(180deg);
}

.search-btn{
    position: absolute;
    z-index: 10;
    bottom: 1.2rem;
    left: 9rem;
    /* right: 1rem; */
    /* float: left; */
    background-color: transparent;
}
/* Activ Fillters */
.active-fillters{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}
.fillter{
    background-color: var(--first-color);
    padding: 6px;
    border-radius: 14px;
    font-size: var(--smaller-font-size);
    color:var(--text-color);
}
.active-fillter{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor:default;
    text-transform: capitalize;
}
.clear-fillter,.active-fillter-icon{
    cursor: pointer;
}

/* Activ Fillters */
/* ========== shorting ===== */
.shorting_detail{
    position: absolute;
    margin-top: 14rem;
    margin-right: 5rem;
    line-height: 2rem;
    z-index: 11;
    width: 14rem;
    padding: .5rem 1rem;
    background-color:white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    visibility: hidden;
    transition-delay:.2s;

}
.shorting_by:hover{
    color: var(--first-color);
}
/* ========== shorting ===== */
/* =============== */
.search_bar{
    position: relative;
    padding: 2rem;
}
.psearch{
    position: absolute;
    top: 1rem;
    left: 0rem;
    float: right;
    background-color: var(--text-color-light);
    padding: .5rem;
    border-radius: 30px;
   /* min-width:10%; */
   max-width: 120%;
}
.search_bar::after{
    content: "";
    background:  var(--text-color-light);
    width: 137%;
    height: 1px;
    position: absolute;
    top: 90px;
    left: 60%;
    transform: translateX(-50%);
}

/*==================== product catgrioes ================== */
.fill_section{
    padding: 4rem 0 3rem ;
}
.fill-section_title{
    margin-top: -5rem;
    font-size: var(--h3-font-size);
    margin-left: -.8rem;
    text-transform: uppercase;
    line-height: 1.8rem;
    letter-spacing: 3px;

    
}
.categories_section > .fill-section_title {
    margin-top: 0rem;
}
.categories_menu{
    position: relative;
    padding: 2rem 0;
}
.categories_link,.color_link,.brand_link{
    text-transform: capitalize;
    line-height: 2rem;
}
.main_categorie{
    margin-left: -.8rem;
}
.categories_item,.color_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories_item:hover a,.color_item:hover a{
    color:var(--first-color);
}
.categories_item:hover .item_count{
    background-color:var(--first-color);

}
.categories_item-active{

    color:var(--first-color);
    
}
.item_count{
    background-color: var(--text-color-light);
    font-size:var(--smaller-font-size) ;
    padding: .2rem .4rem;
    border-radius: 40%;
}
.item_count-active{
    background-color:var(--first-color);

}
.fill_section::after{
    content: "";
    background:  var(--text-color-light);
    width: 98%;
    height: 1px;
    position: absolute;
    left: 54%;
    transform: translateX(-50%);
}

.price_section{
    padding: 2rem 0 2rem;
}
/* .price_section::after{
    content: "";
    bottom: 1rem;
} */

/* === Fillter by price ======== */
.fillter_price {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price_section >.fill-section_title{
    margin-left: 0;
}

.range{
    width: 300px;
}

.range_slider{
    width: 80%;
    padding: 2rem 0 3rem 0;
}

.range_value{
    position: relative;
    top: -1rem;
    left: -.3rem;
    width: 35%;

    display: flex;
    flex-direction: row;
    text-align: center;
}

.form_group label{
    position: relative;
    color: var(--text-color-light);
    font-size: var(--h3-font-size);
}

.form_group span{
    color: var(--text-color);
}

.range_slider [type="range"]{
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 6px;
    background: #f1f1f1;
    outline: none;
    padding: 0;
    margin: 0;
}

.range_slider [type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: backgroung .15s ease-in-out;
}

.range_slider [type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: backgroung .15s ease-in-out;
}

/* remove boder */
input::-moz-focus-inner,input::-moz-focus-outer{
    border:0;
}

/* === Fillter by price ======== */
.color_section > .fill-section_title,.price_section > .fill-section_title{
    margin-top: -3rem;
}

/* ====color selection */

 .color-select{
    width: 25px;
    height:25px;
    margin-left: -13px;
    border-radius: 50%;
    background: rgb(233, 38, 38);
    border-collapse: separate;
    border-spacing: 15px;
}
 .color_item:nth-child(1) .color-select {
    background-color: black;
}
 .color_item:nth-child(2) .color-select {
    background-color: grey;
}

 .color_item:nth-child(3) .color-select {
    background-color: blue;
}
 .color_item:nth-child(4) .color-select {
    background-color: green;
}
 .color_item:nth-child(5) .color-select {
    background-color: whitesmoke;
}
 .color_item:nth-child(6) .color-select {
    background-color: orange;
}
 .color_item:nth-child(7) .color-select {
    background-color: red;
}
.color_link{
    line-height: 3rem;
    margin-left: -3rem;
}

/* ====color selection */

/* ==== size ==== */

.size_menu{
    display: grid;
    margin-left: -1rem;
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap:23px ;
    margin: 2rem 0 2rem -1rem;
}
.size{
    display: block;
    color: var(--text-color-light);
    border: 1px solid var(--text-color-light);
    width: auto;
    text-align: center;
    padding: .2rem;
}
.size:hover,.size-active{
    cursor: pointer;
    background-color: var(--first-color);
    color: white;
}
/* ==== size ==== */

/* ======== sale section ======== */
.sale_menu-card{
    margin-left: -1rem;
    display: flex;
    column-gap: 1rem;
    padding: 1rem 0;
}
.card_img{
    width: 8rem;
    height: 100%;
    object-fit: cover;
}
.sale_title{
    text-transform: capitalize;
    font-size:var(--h3-font-size) ;
}
.sale_rating-icon{
    color:var(--first-color);
}
.wishlist-icon{
    border-radius: 50%;
    padding: .5rem;
    background-color: var(--text-color-light);
    
}
.wishlist-icon:hover,.wishlist-icon-clicked{
    color: white;
    background-color: var(--first-color);
    cursor: pointer;

}

/* ======== sale section ======== */
/* ======== feature section ==== */
.feature_section{
    padding: 4rem 0 0 0;
}

/* ======== feature section ==== */

/* ================= PRODUCT SECTION ====================== */
.product_section{
    /* position: absolute; */

    /* top: 42rem; */
    /* right: 0; */
    /* margin-left: 21rem; */
}
.product_container{
    position: relative;
    margin-top: 1rem;
    /* display: flex; */
    grid-template-columns: repeat(3,1fr);
}
.product_card{
    /* width: 50%; */
    overflow: hidden;
}.product-card_title{
    text-transform: capitalize;
}
.product_card-images{
    position: relative;
}
.product_offer_section{
    position: relative;
    z-index: 1;
}
.product_offer{
    top: 0;
    left: 0;
}
.product_card-img{
    /* width: 50%; */
    /* max-width: 22rem; */
    width: 100%;
    height: 100%;
}
.product_card-img2{
    position: absolute;
    left: 0rem;
    
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    /* transition: .2s; */
}
.product_card:hover  .product_card-img2{
    visibility: visible;
    opacity: 1;
}
.product_card:hover{
    cursor: pointer;

}
.product_card-data{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: .4rem;
    justify-content: center;
    flex-direction: column;
}
.categories_product-card{
    font-weight: var(--font-light);
    color: var(--text-color);
}
.add_cart_btn{
    border-radius: 50px;
    display: inline-flex;
    background-color: var(--text-color-light);
    padding: 4px 10px;
}

/* ================= PRODUCT SECTION ====================== */
/* ============== page ================== */
.page_section{
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly;
    align-items: center;
}
.page{
    font-size: 1.2rem;
    color: var(--text-color-light)e;
    border: 2px solid var(--text-color-light);
    padding: .3rem .3rem;
}
.backward_page,.fordward_page{
    background-color: var(--text-color-light);
}
.page_number{
    display: flex;
    gap: 1rem;
}
.page_no{
    padding: .2rem .3rem;
}
.page_no:hover,.page_no-active,.backward_page:hover,.fordward_page:hover,.page-clicked{
    background-color: var(--first-color);
    color: white;
}

/* ============== page ================== */

.shop_brands_section{
    /* padding-top: 140rem; */
}

.shop_brands_container .swiper-wrapper{
    display: flex;
    /* gap: 2px; */
}
/* ======================= Cradits section */

.cradits_container{
   display: flex; 
   flex-direction: column;
  
}
.cradits_box{
   display: flex; 
    flex-direction: column;
    text-align: center;
    background-color: rgb(60, 60, 88);
    color:#ffff;
    padding: 5rem 2rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.cradits_box-title{
    font-size: var(--h1-font-size);
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.cradits_box-icon{
    font-size: 3rem;
}
.cradits_box:nth-child(2){
    background-color: coral;
}
.cradits_box:nth-child(3){
    background-color: grey;
}
/* ========== ======== */
.shop_subscribe{

    background-color: rgb(150, 218, 211);
    color: black;
    margin-top: -3rem;
}
.shop_footer{
    padding-top: 0;
}

@media screen and (max-width:1000px)  {
   
    .fillter-menu{
  
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--body-color);
        width: 70%;
        min-width: 251px;
        max-width: 350px;
        height: 100%;
        z-index: var(--z-fixed);
        box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
        padding: 3rem;
        transition: .4s;
          overflow-x: hidden;
          overflow-y:scroll;
      }
}

@media screen and (min-width:1000px) {
    .shorting_detail{
        margin-top: 18rem;
    }
    .fillter-menu {
        width: 13%;
        margin-left: 5rem;
        
    }
    .fillter-btn{
        visibility: hidden;
    }
    .quiary-btns{
        margin-top: 2rem;
    }
    .psearch{
        left: -1rem;
    }
    .product_section{
        position: absolute;
    
        top: 42rem;
        right: 0;
        margin-left: 21rem;
    }
    .product_card-img{
    max-width: 21rem;

    }
    .page_section{
        position: relative;
        bottom: 35rem;
        left: 8rem;
    }
    .shop_brands_section{
        padding-top: 0;
        margin: -6rem;
    }
    .cradits_container{
        flex-direction: row;
    }
    .active-fillters{
        position: relative;
        left: 20rem;
        top: 3rem;

    }
    
}
@media screen and (min-width:1200px){
   
    .page_section{
        bottom: 20rem;
    }
    /* Shop  */
     .electronics-poster,.homebody-poster,.devices-poster,.gadgets-poster,.bodycare-poster,.classics-poster,.homeliving-poster{
        object-position: top;
        height: 460px;
        width: 100%;
    }

    
}
@media screen and (min-width:1300px) {
    .product_section{
        top: 45rem;
    }
    .page_section{
        bottom: 3rem;

    }
    .shop_brands_section{
        margin: 0;
    }

}