@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

/* CSS Variable ======================================================================== */

:root{

    --header-hight: 10rem;
    --header-mini: 3rem;
    --header-max: 4rem;

    /* Colors */

    /* * Hue is a degree on the color wheel from 0 to 360. 0 is red, 120 is green, 240 is blue. */ 
  --hue-color:44 ;

     /* HSL Color Mode   */ /* https://www.w3schools.com/colors/colors_hsl.asp */

--background-color : hsl(var(--hue-color), 82%, 97%) ;
--first-color: hsl(var(--hue-color), 36%, 75%) ;
/* --first-color-alt: hsl(var(--hue-color), 64%, 15%) ; */
--title-text-color: hsl(var(--hue-color), 24%, 6%);
--text-color-light: hsl(var(--hue-color), 15%, 83%) ;
/* --input-color: hsl(var(--hue-color), 24%, 97%) ; */
--body-color: hsl(var(--hue-color), 100%, 99%);
--wite-color: #fff ;
--scroll-bar-color: hsl(var(--hue-color), 12%, 90%) ;
--scroll-thum-color: hsl(var(--hue-color), 12%, 75%) ;


/* Fonts And Typography */

--body-font:'Montserrat', sans-serif;
--biggest-font-size: 2.5rem;
--semi-big-font-size:1.85rem;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size: .938rem;
--small-font-size: .813rem;
--smaller-font-size: .75rem;

/* Font weight */
--font-light:200;
--font-medium:500;
--font-semi-bold:600;
--font-heigh-bold:800;

/* margenes Bottom */

--mb-0-25: .25rem;
--mb-0-5: .5rem;
--mb-0-75: .75rem;
--mb-1: 1rem;
--mb-1-25: 1.25rem;
--mb-1-5: 1.5rem;
--mb-2: 2rem;
--mb-2-5: 2.5rem;
--mb-9: 9rem;

/* Z Index */

--z-tooltrip: 10;
--z-fixed: 100;

}
@media  screen and (min-width:968px){

    :root{
    
      --biggest-font-size: 4rem;
      --semi-big-font-size:3.5rem;
      --h1-font-size: 2.5rem;
      --h2-font-size: 1.75rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    
    
    
    }
    
    }
/* ================ */

/* =========== */
    /* ------------------------------------------------------------------------ */

    /* base */

    * {
       box-sizing: border-box; 
       margin: 0;
       padding: 0; 

    }
    body{
        
        margin: var(--header-height) 0 0 0;
        color: var(--title-text-color);
        background-color: var(--body-color);
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        overflow-x: hidden;
    }
    html{
        scroll-behavior: smooth; /* Allows a smooth animated "scroll effect" between elements within the scrolling box. */
        overflow-x: hidden;
        
    }


    h1,h2,h3{

        color: var(--title-color);
        font-size: var(--font-semi-bold);

    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
    img,video{
        max-width: 100%;
        max-height: auto;
    }
    button,input{
        border: none;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
    }
    input{
        outline: none;
    }
    button{
        cursor: pointer;
    }

    /* ============================================================================ */

    /* reusable CSS Classes */

    .section{
        padding: 6rem 0 3rem;
    }
    .section_title{

        font-size:var(--semi-big-font-size) ;
        color: var(--title-text-color);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: var(--mb-1);

    }
    .section_subtitle{
        font-size: var(--h3-font-size);
        color: var(--text-color-light);
        text-align: center;
    }
    .container{

        /* max-width: 986px; */
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);

    }
    .grid{
        display: grid;
        gap: 1.5rem;
    }

    /* ================================================== */
    /* overlay for sidebar */
    
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    z-index: 99;
    display: none;
  }
    /* header section */

    .header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: var(--z-fixed);
        background-color: hsl(var(--hue-color), 100%, 99% ,52%);
        /* color: aqua; */
        transition: .2s ease-in-out;
    }
    .header_scroll{
        top: -75px;
        background-color: hsl(var(--hue-color), 100%, 99% ,100%);
    }
    .header_scroll_short{
        background-color: hsl(var(--hue-color), 100%, 99% ,100%);
    }

    /* nav section */

    .nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center ;
        height:var(--header-hight);
        text-transform: uppercase;
        margin-left: var(--mb-9);
        margin-right: var(--mb-9);
    }
    

    .logo{
        display: flex;
        font-weight: var(--font-heigh-bold);
        font-size: var(--h3-font-size);
        align-items: center;
        cursor: pointer;
        position: relative;
        top: 11px;
    }
    .logo_scroll{
        font-size:var(--normal-font-size) ;

    }
  

    .logo_img{
        position: relative;
        width: 60px;
        height: 60px;
        top: 20px;
    }
    .nav_menu{
        position: relative;
        top: var(--mb-2);
        font-weight: 650;
        font-size: var(--small-font-size);
    }
   
  .nav_menu_show{
      right: 0%;
  }
  /* When User see the menu make scrolling stop */
.stop-scrolling {
    position: fixed;
    overflow-y: hidden ;
}
    .nav_list{
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }
    .nav_link{
        align-items: center;
        display: inline-flex;
        color: black;

    }
    .nav_link-icon{
        visibility: hidden;
        position: absolute;
        right: 0;
        font-size:22px ;
    }
    .nav_link:hover,.mini-nav_link:hover{
        color: var(--first-color);
    }
    .nav_toogle,.nav_cart,.nav_close{
        display: none;
    }
    .nav_close{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .nav_toogle,.nav_cart,.nav_close{
        font-size: 1.5rem;
    }
    .about_detail,.cat_detail{
        position: relative;
        align-items: center;
        display: inline-flex;
        transition: .4s;

    }

    .about_detail-box,.cat_detail-box{
        visibility: hidden;
        transition: all 0s ease .5s; /*delay 1s*/
        position: absolute;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
        top: 3.5rem;
        left: -1rem;
        background-color: var(--wite-color);
        min-width: 200px;
        z-index: 1;
        animation-name: up;
        animation-duration: .5s;
        animation-play-state: paused;
        animation-fill-mode: backwards;
       animation-timing-function: ease-in-out;
    }
    .cat_detail-box{
        display: grid;
        grid-template-columns: repeat(3,2fr);
    }
    @keyframes up {
        0%{
            
            top: 5rem;
            
        }
      
     
        100%{
            top: 3.5rem;

        }
    }
    .about_detail-box a,.cat_detail-box a{
        display: block;
        color: var(--text-color-light);
        margin-left: 1rem;
        padding: 22px 12px;
    }
    .about_detail-box a:hover,.cat_detail-box a:hover{
        color: var(--title-text-color); 
    }
    
    .visible{
        visibility: visible !important ;
        display: block !important;
    }

    .about_detail:hover .about_detail-box{ 
        transition-delay: .1s;
        visibility: visible;  
        animation-play-state: running; 
        animation-fill-mode: forwards; }
    
  
    .cat_detail:hover .cat_detail-box{ 
        transition-delay: .1s;
        visibility: visible;  
        animation-play-state: running; 
        animation-fill-mode: forwards; }
    
        .mini-nav_social-mobile{
            display: none;
        }     
           /* Short screen  */
@media screen and (max-width:767px){
    .mini-header{
        display: none;
    }
    .logo{
        top: -15px;
        
    }
    .logo_img{
        width: 40px;
        height: 40px;
        top: 13px;
    }

    .nav{
        height: 4rem;
        justify-content: space-around;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .nav_menu,.fillter-menu{
  
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--body-color);
      width: 70%;
      height: 100%;
      z-index: var(--z-fixed);
      box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, .15);
      padding: 3rem;
      transition: .3s;
        overflow-x: hidden;
        overflow-y:scroll;
    }
    
    .nav_list{
        flex-direction: column ; 
        row-gap: 3rem;
    }
    
    .nav_menu  .nav_item:nth-child(8){
        display: none;
    }
    
    .nav_menu  .nav_item:nth-child(9){
        display: none;
    }
    .nav_toogle,.nav_cart,.nav_close{
        display: block ;
    }

    .about_detail-box,.cat_detail-box{
    top: 2rem !important ;    
    left: -3rem ;
    background-color: rgb(133 140 143) ;
    width: 150%;
    min-width: 248px ;  
    }
    .cat_detail-box{
    grid-template-columns: repeat(1,1fr) ;
    }
    .nav_link-icon{
        visibility: visible ;
    }
    .about_detail:hover .about_detail-box, .cat_detail:hover .cat_detail-box{
        animation-play-state: paused ; 
       visibility: hidden;
        display: none;

    }
    .mini-nav_social-mobile{
        font-size: var(--normal-font-size);
        padding-top: 3rem;
        display: block;
    }
    .home_social-link{
        font-size: var(--h2-font-size) !important ;
    }

  }

  /*================== *** ===============*/

  .nav_menu_show{
    right: 0%;
}
.visible{
    visibility: visible  ;
    display: block ;
}

    /*============================ mini-heeader */

    .mini-header{
        position: absolute;
        width: 100%;
        top: .5rem;
        background-color: var(--background-color);
        height: var(--header-mini);
        z-index: var(--z-fixed);

    }
    .mini-nav{
        display: flex;
        justify-content: space-evenly;
        text-transform: capitalize;
        padding-top: 12px;
        align-items: center;

        
    }
    .mini-nav_menu{
        /* display: flex;
        align-items: center; */
    }
    .mini-nav_list{
        display: flex;
        column-gap: 1rem;
        font-size: var(--smaller-font-size);
        align-items: center;
        /* font-weight: var(--font-medium); */
    }
    .mini-nav_link{
        
        color: var(--text-color-light);
        display: inline-flex;
        align-items: center;
    }
    .mini-nav_link:hover{
        
        color: var(--first-color);
       
    }
  
    .call{
        
        color: var(--text-color-light);
    }
    
    /* social link */
    
    .home_social-link{
        color: var(--text-color-light);
        font-size: var(--h3-font-size);
    }
    .home_social-link:nth-child(1):hover{
        
        color: rgb(0, 81, 255);
    }
    .home_social-link:nth-child(2):hover{
        
        color: rgb(218, 60, 60);
    }
    .home_social-link:nth-child(3):hover{
        
        color: rgb(0, 217, 255);
    }
    .home_social-link:nth-child(4):hover{
        
        color: rgb(219, 18, 18);
    }
    .home_social-link:nth-child(5):hover{
        
        color: red;
    }
    /*social link  */
    /* ============================================= */
    /* ======================Home Section======================= */
    .swiper-slide{
        height: 53rem;
    }
    .home_container{
            position: relative;
            /* height: 100vh; */
            align-items: center;
            gap: 0;
        }
        .home_container::after{
            content: '';
            visibility: hidden;
        }
        .home_images{
            position: relative; 
            top: 0;
            left: 0;
            width: 80rem;
            overflow: hidden;
    }
    .swiper-slide img,video {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 53%;
    }
    
    .home_img-data{
        color: var(--wite-color);
        z-index: 1;
        position: relative;
        bottom: 34rem;
        left: 10rem;
    }
    #home_img2 + .home_img-data{
        color: #000;
        left: 56rem;   
    }
    .home_data-title{
    position: relative;
    right: -100%;    
    font-size: var(--biggest-font-size);
    font-weight: var(--font-light);
    text-transform: uppercase;
    line-height: 5rem;
    }
   .home_data-subtitle{
    position: relative;
    left: -100%;
    display: block;
    margin: var(--mb-2) 0 ;
    padding: 0 2rem 0 0;
    text-align: left;
    }
  
   
   /* BUTTON */

   .button{
       display: inline-block;
       background-color: var(--first-color);
       color: var(--wite-color);
       padding: 1rem 2rem;
       font-weight: var(--font-semi-bold);
       transition: .3s;
   }
   .button:hover{
    color: #fff;
    background-color: rgb(34, 14, 14);
  }
  .mini-button{
      padding: 5px 7px;
      font-size: var(--smaller-font-size);
      align-self: center;
  }
  .mini-button:hover{
      background-color: var(--text-color-light);
  }
  .btn_img-data{
      position: relative;
      top: 20rem;
      color: white ;
       }
  .swiper-button-next,.swiper-button-prev{
    color: white;
    height: 11rem;
    width: 4rem;
  }     

  .card_btn{
      background-color: var(--first-color);
      font-size: var(--small-font-size);
      border-radius: 50px;
      display: inline-flex;
      align-items: center;
      padding: 4px 10px;
  }
  .ri-list-check{
      margin-right: 4px;
  }
  .card_btn:hover{
      color: var(--wite-color);
      background-color: black;
  }

  .whats_button{
    position:absolute;
    bottom: -2rem;
    text-transform: uppercase;
} 
.news_card_btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 7rem;    
}
.ri-share-line{
    background-color: var(--first-color);
    padding: 10px;
    color: var(--wite-color);
}
.ri-share-line:hover{
 background-color: var(--first-color);
 cursor: pointer;
}
.news_btn{
    color: var(--first-color);
    background-color: var(--wite-color);
    border: 2px solid var(--first-color);
    height: 35px;
    padding: 8px 24px;  
    text-transform: uppercase;
    font-size: var(--small-font-size);
}
.news_btn:hover{
    color: var(--wite-color);
    background-color: var(--first-color);
}    
.experience_btn{
    display: inline-block;
    padding: .5rem 1rem;
    font-weight: var(--font-semi-bold);
    border: 2px solid var(--first-color);
    color: var(--wite-color);
    transition: .3s;
}
.experience_btn:hover{
    background-color: var(--first-color);
}
.experience_btns-select{
    position: absolute;
    display: flex;
    top: 4rem;
    left: 2rem;
    column-gap: 0.6rem;
    font-size: 1.2rem;
    z-index: 10;
    cursor: pointer;
}
.experience_button{
    cursor: pointer;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: transparent;

}
.experience_button:hover,.active-btn{
    background-color: var(--first-color);
}


/* btn --------------------------------------------------- */
  /* banner */
.banner,.subscribe{
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    height: 14rem;
    width: 100%;
}
.banner_content{
    position: absolute;
    margin: 4rem 19rem;
}
.banner_title{
    font-size: var(--h1-font-size);
    font-weight: var(--font-light);
    letter-spacing: 2px;    
    margin-bottom: 1rem;
}
.banner_subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}
    
 /*=========================== Collection Section ==================================== */

 .collection_container{
     position: relative;
    align-items: center; 
 }
 .collection_images{
     position: relative;
 }
.collection_content1{
    gap: 0;
    /* grid-template-columns: repeat(2,1fr);
     */
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
}
.collection_content2{
    gap: 0;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));

}
.collection_container img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.collection_content1 img{
    height: 23rem;
}
.collection_content2 img{
    -webkit-filter: brightness(100%);
    height: 18rem;
}
.collec_content_img_2:hover img{
    cursor: pointer;
    -webkit-filter: brightness(30%);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    
}
.collec_data1{
    position: absolute;
    top: 5rem;
    left: 1rem;
}
.collec_data2{
    position: absolute;
    top: 14rem;
    left: 1rem;
}
.collec_data-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-light);
    line-height: 3rem;
    letter-spacing: 5px;
}
.collec_data-subtitle{

    color: var(--title-text-color);
    font-size: 1.2rem;
    font-weight: var(--font-light);
    line-height: 6rem;


}

.collec_data-product{

    font-size: var(--h2-font-size);
    color: var(--title-text-color);
    /* color: var(--wite-color); */
    font-weight: var(--font-light);

}
.collec_content_img_2:hover .collec_data-product{
    color: white;
}
 
/*Whats Card Section  */

.whats_container{
    position: relative;
    /* grid-template-columns: repeat(4,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    justify-content: space-evenly;
}
.whats_card{
    position: relative;
    top: 2rem;
    left: 3rem;
    margin-bottom: 4rem;
    width: 16rem;
    height: 34rem;
    box-shadow: 0px 1px 4px  rgba(0,0,0,.20);
    overflow: hidden;
    transition: .3s;
}
.whats_card:hover{
    box-shadow: 0 1px 20px 2px rgba(0,0,0,.20);
}
.whats_card:hover .card_title{
    color: var(--first-color);
}
.whats_card:hover .card_title::before{
    width: 95px;
    left: 20px;

}


.whats_card_images{
    position: absolute;

}
.whats_card_img{
    width: 16rem;
    height: 22rem;
    object-fit: cover;
    object-position: top;
    transition: .3s;

    }
.whats_card_img1{
    position: relative;
}    
.whats_card_img2{
    position: absolute;
    display: block;
    top: 0;
    left: 18rem;
}
.whats_card:hover  .whats_card_img2{
    left: 0;
}
.whats_card_data{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    margin: 26rem 3.5rem;    
}
.card_title::before{
    content: "";
    background-color: var(--first-color);
    height: 2px;
    width: 53px;
    transition: .3s;
    position: absolute;
    left: 42px;
    bottom: 7rem;
}
.card_title{
    font-size: var(--small-font-size);
    line-height: .2rem;
}
.card_price{
    font-size: var(--normal-font-size);
    color: var(--first-color);
    line-height: 4rem;
    
}
.offer{
    position: absolute;
    top: 6px;
    left: 5px;
    background-color: var(--first-color);
    color: white;
    border-radius: 50%;
    font-size: 10px;
    padding: 13px 8px;
    z-index: 3;
}
.sub_offer{
    position: absolute;
    top: 38px;
    left: 11px;
    background-color: #000;
    font-size: 9px;
    color: white;
    border-radius: 50%;
    padding: 8px 3px;
    z-index: 2;
}
.heart{
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 9px;
    font-size: 1.3rem;
}
 .whats_card:nth-child(2)  .card_price::before{
    content: "";
    position: absolute;
    background-color: var(--first-color);
    top: 34px;
    width: 55px;
    height: 2px;

}
.whats-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NEWS SECTION */

.news_section{
    background-color:  rgb(235 231 231);
    /* height: 126vh; */
}
.news_container{
    position: relative;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin: 0 11rem;
    column-gap: 10rem;
}
.news_card{
    position: relative;
    overflow: hidden;
    width: 22rem;
    height: 38rem;
    top: 1rem;
    background-color: rgb(255, 255, 255);
}
.news_card_data{
    position:absolute;
    top: 22rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.news_card_image{
    position: relative;
overflow: hidden;
width: 22rem;
height: 22rem;
transition: .4s;
}
.news_card_img{
    object-fit: cover;
    object-position: bottom;
    width: 22rem;
    cursor: pointer;
    height: 22rem;
}
.news_card_subheading{
    display: flex;
    margin-top: 11px;
    font-size: var(--small-font-size);
    justify-content: space-between;
    color: var(--text-color-light);
}
.ri-heart-3-fill{
    font-size: var(--normal-font-size);
    color: red;
}
.news_card_heading{
    font-size: var(--h2-font-size);
    font-weight: var(--font-light);
    letter-spacing: 2px;
    text-transform: uppercase; 
}
.news_card_describtion{
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    line-height: 1.4rem;
}
.news_card_hover,.gallery_product_hover{
    position: absolute;
    cursor: pointer;
    font-size: 2rem;
    transform: translateY(18rem);
    top: 8rem;
    left: 9rem;
    color: #fff;
    background-color: black;
    border-radius: 50%;
    padding: 1rem;
    transition: .2s ease-in-out;

}
.news_card_image:hover .news_card_hover{
    transform: translateY(0rem);
}
.news_card_image:hover .news_card_img{
    opacity: 40%;
}
/* subscribe banner */
.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe_content{
    position: absolute;     
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
}
.subscribe_title{
    font-size: var(--h2-font-size);
}
.subscribe_input{
    padding: 1rem;
    width: 17rem;
}

/* Experience Section */
.experience_section{
    display: block;
    position: relative;
    padding: 0rem;
}
.experience_images{
    position: absolute;
    display: flex;
    overflow: hidden;
    transition: display 4s ;
}
.experience_img{
display: none;
height: 73rem;
object-fit: cover;
}
.experience_heading{
    position: absolute;
    text-align: center;
    top: 3rem;
    left: 40rem;
    /* left: 2rem; */
}
 .experience_heading-girl{
    left: 2rem;
}
.experience_title{
    text-transform: uppercase;
    font-weight: var(--font-light);
    font-size: var(--h1-font-size);
}
.experience_subtitle{

    font-size: var(--h3-font-size);
    margin-top: 1rem;
    opacity: 50%;
}
.experience_content{
    position: absolute;
    display: none;
}

.experience_active{
    display: block;
}
.experience_data{
position: relative;
}
.experience_data-content{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 1rem;
    left: 9rem;
}
#girl  .experience_data:nth-child(2) .experience_data-content{
    text-align: left;
    left: -19rem;

    
}
.experience_data:nth-child(1){
    top: 12rem;
    left: 40rem;

}
.experience_data:nth-child(2){
    top: 22rem;
    left: 47rem;

}
.experience_data:nth-child(3){
    top: 47rem;
    left: 45rem;

}
#girl .experience_data:nth-child(1){
    top: 14rem;
    left: 49rem;

}

#girl .experience_data:nth-child(2){
    top: 34rem;
    left: 40rem;

}

#girl .experience_data:nth-child(3){
    top: 35rem;
    left: 61rem;

}

.experience_rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
    box-shadow: 0px 8px 14px  rgba(241, 233, 233, 0.794);
    
}
.experience_line{
    position: absolute;
    display: block;
    width: 200%;
    height: 2%;
    background-color: var(--first-color);
    transform: translate(7px,-11px);
}

#girl  .experience_data:nth-child(2) .experience_line{
    width: 231%;
    transform: translate(-311px,-11px);
}



/* Brands */
.brands_section{
    /* position: absolute; */
    padding-top: 75rem;
}
.brands_container{
    display: flex;
    padding-top:1rem ;
    overflow: hidden;
}
.brand{
    align-self: center;
    object-fit: cover;
    padding: 0rem 6rem;
}
.brands_container  .swiper-slide{
    height: 100% !important;
}
.brand_img{
    align-items: center;
    cursor: pointer;
}
.pre-nex{
    position: absolute;
    background-color: black;
    top: 2rem;
    left: 4rem;
}

/* Gallery Section */

.gallery_section{
    padding-top: 1rem;
}

.gallery_container{
    display: flex;
    grid-template-columns: max-content repeat(4,1fr);
    gap: 0;

}
.gallery_content{
    position: relative;
    align-items: center;
    background-color: var(--text-color-light);
    padding: 1rem;
}
.gallery_data{
}
.gallery_products{
    gap: 0;    
    grid-template-columns: repeat(2,1fr) ;
}
.gallery_product{
    cursor: pointer;
    position: relative;
    height:20rem ;
    overflow: hidden;
transition: .4s;
}
.gallery_content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.gallery_data{
  
}
.gallery_title{
    text-transform: uppercase;
    line-height: 8rem;
    font-size: var(--h1-font-size);
    font-weight: var(--font-light);
}
.gallery_descripiton{
    color: rgb(170, 170, 124);
    line-height: 1.5rem;
    padding: 0 2rem;
}
.gallery_btn{
padding: .7rem;
margin-top: 2rem;

}
.gallery_img{
    position: relative;
    height:20rem ;
    width:60rem ;
    object-fit: cover; 
    opacity: 100%; 
}
.gallery_product:hover  .gallery_product_hover{
    transform: translateY(0rem);
}
.gallery_product:hover .gallery_img {
    opacity: 50%;
}

/* OFFER SECTION */


.spl_offers_container{
    position: relative;
    grid-template-columns: repeat(2,1fr);
    gap: 6rem;
    top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.spl_offer{
    position: relative;
    overflow: hidden;
gap: 2rem;
}
.spl_offer_image{
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.spl_offer_img{
    
    display: block;
    height: 30rem;
    object-fit: cover;
    -webkit-filter: brightness(30%);

}
.spl_offer_content{
    position: absolute;
    /* display: inline-block; */
    display: flex;
 overflow-wrap: break-word;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-overflow: ellipsis;
    width: 30rem;
    color: rgb(253, 252, 252);
   
}

.spl_offer_title{
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    line-height: 4rem;

}
.spl_offer_descripiton{
    /* width: 40rem; */
    display: inline-block;
    /* line-height: 2rem; */
}
.spl_offer_btn{
    margin-top:2rem ;
}

/* Footer */

.footer{
    padding-top: 6rem;
}
.footer_bg{
    background-color: black;
    color: white;
}
.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0 4rem;
}
.footer_title{
    font-weight: var(--font-light);
    text-transform: uppercase;
    font-size: var(--h1-font-size);
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.footer_socials{
    display: flex;
    column-gap: 1rem;
}
.footer_social{
    background-color: var(--first-color);
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem .8rem;
    font-size: var(--h2-font-size);
}

hr{
    margin-top: 6rem;
    width: 65rem;
    opacity: 42%;
}
.footer_bottem{
    display: flex;
    justify-content: space-evenly;
    column-gap: 6rem;
    align-items: center;
    padding-top: 3rem;
}
.footer_links_list{
    display: flex;
    column-gap: 1rem;
}
.footer_link{
    color: var(--wite-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
    opacity: 60%;
    display: inline-flex;
    align-items: center;
}
.footer_payments{
    display: flex;
    font-size: var(--h1-font-size);
    column-gap: 2rem;
}
.footer_payment{
    opacity: 60%;
}
.footer_copy{
    color: var(--first-color);
    font-weight: var(--font-light);
}


/* Scroll Up */

.scroll-up{

position: fixed;
right: 1rem;
bottom: -20%;
background-color: var(--first-color);
opacity: .8;
padding: 4px 6px;
border-radius: .4rem;
z-index: var(--z-tooltrip);
transition: .4s;

}
.scroll-up:hover{
background-color: black;
}
.scroll-up_icon{

font-size: 1.4rem;
color: #fff;


}
.scroll-show{

bottom: 5rem;


    
}

/* =================== Scrool Bar ================ */

::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thum-color);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}


/* Meadia Quary */
@media screen and (min-width:1308px){

    #home_img2 + .home_img-data{
        left: 52rem;   
    }

}

/* 
@media screen and (max-width:1308px){

    #home_img2 + .home_img-data{
        left: 43rem;   
    }
    .banner {
        height: 15rem;
    }
    .collec_data-title{
        letter-spacing: 2px;
    }
    .collec_data1{
        left: .5rem;
    }
    .whats_button{
        left: 35rem;
    }
    .home_img-data {

        left: 5rem;
    }
    .news_section{
        height: 138vh;
    }
    .news_container{
        margin: 0 5rem;
    }
  
    #girl  .experience_data:nth-child(2) .experience_data-content{
        text-align: left;
        left: -19rem;
    
        
    }
    .experience_data:nth-child(1){
        left: 33rem;
    
    }
    .experience_data:nth-child(2){
        left: 41rem;
    
    }
    .experience_data:nth-child(3){
        top: 48rem;
        left: 39rem;
    
    }
    #girl .experience_data:nth-child(1){
        left: 42rem;
    
    }
    
    #girl .experience_data:nth-child(2){
        left: 34rem;
    
    }
    
    #girl .experience_data:nth-child(3){
        left: 54rem;
    
    }
    .spl_offer:nth-child(1) .spl_offer_content {
        left: 8rem;
    }


} */

/* ==== MEDIUM SCREEN SIZE === */

@media screen and (min-width:350px) and (max-width:1252px) {
    .swiper-slide{
        height: 35rem;
    }
    .home_container{
        /* height: 65vh; */
    }
    .home_img-data{
        bottom: 17rem;
        left: 2.5rem;
    }
    .home_data-title {
        line-height: 3rem;
    }
    .home_data-subtitle{
        margin: var(--mb-1) 0;
        padding: 0 5rem 0px 6px;
    }
    .swiper-button-next, .swiper-button-prev {
        width: 2rem;
    }
    #home_img2 + .home_img-data {
        left: 4rem ;
    }
    #home_img2 + .home_img-data .home_data-title {
        font-size:var(--semi-big-font-size);
        line-height:3;
    }
    #home_img2 + .home_img-data  .home_data-subtitle{

    }
     /* BANNER */
     .banner {
        height: 11rem;
    }
    .banner_content {
        margin: 2rem 3rem;
    }
     /* COLLECTION */
     .collec_data1{
         left: 0.5rem;
     }
     .collec_data-title{
         padding-right: 10rem;
     }
     .collec_data-subtitle{
        line-height: 3rem;
        padding-right: 1rem;
    }
    /* WHATS SECTION */
    .whats_container{
        display: flex;
        flex-direction: column;
        place-items: center;
    }
    .whats_card{
        left: 0;

    }
     /* NEWS SECTION */
     .news_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
       /* subscribe banner */
       .subscribe_content{
        flex-direction: column;
        row-gap: 1rem;
    }
     /* BRANDS */
     .brand{
        padding: 0;
    }
    .experience_section{
        display: none;
    }
    .brands_section{
        padding-top: 2rem;
    }
    .gallery_container{
        display: block;
        
    }
    .gallery_descripiton{
        padding: 0;
    }
    .gallery_products{
        gap: 0;    
        
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
    }
     /* SPECIAL SECTITON */

     .spl_offers_section {
    }
    .spl_offers_container{
        flex-direction: column;
        gap: 2rem;
    }
    .spl_offer_img{
        height: 20rem;
    }
   
    .spl_offer_title{
        line-height: 3rem;
    }
    .spl_offer_descripiton {
        line-height: 1.5rem;
    }
    .footer_bottem{
        flex-direction: column;
    }

}
@media screen and (min-width:600px) and (max-width:1252px) {
    .swiper-slide{
        height: 24rem;
   }
   #home_img2 + .home_img-data {
    left: 20rem;
}
.home_data-subtitle {
    margin: var(--mb-1) 0;
    padding: 0 20rem 0px 6px;
}
.banner{

    height: 9rem;
}
.banner_content{
    margin: 2rem 2rem;
}
.whats_container{
    display: grid;
}
.experience_section{
    display: block;
}
.brands_section{
    padding-top: 75rem;
}
.experience_heading{
    left: 24rem;
}
.experience_data{
    display: none;
}

}
@media screen and (min-width:767px) and (max-width:966px) {

    /* HEADERS */
    .nav_list{
        align-items: center;
    }
    .logo{
        top: 38px;
    }
    .logo_img{
        width: 43px;
        height: 45px;
        top: 0px;
    }
    /* .container{
        margin-left: 0;
        margin-right: 0;
    } */
    .mini-nav_list{
        column-gap: 0rem;
    }
}
@media screen and (min-width:767px)  and (max-width:1252px) {
    .swiper-slide{
        height: 30rem;
    }
    .banner_content{
        margin: 2rem 8rem;
    }
    .news_container{
        display: grid;
    }
    .subscribe_content{
        flex-direction: row;
    }
  
    .gallery_container{
        display: flex;
    }
    .gallery_products{
        grid-template-columns: repeat(2,1fr);
        
    }
    .spl_offers_container{
        flex-direction: row;
    }
    .footer_bottem{
        flex-direction: row;
        column-gap: 3rem;
    }
   
} 
@media screen and (min-width:968px) and (max-width:1252px) {
    .logo{
        right: 2rem;
        top: 33px;
    }
    .logo_img{
    width: 47px;
    height: 44px;
    top: 0px;
    }
    .nav_list{
        align-items: flex-start;
    }
    .swiper-slide{
        height: 38rem;
    }
    .home_img-data {
        bottom: 21rem;
        left: 4.5rem;
    }
    .home_data-title {
        line-height: 5rem;
    }
    #home_img2 + .home_img-data {
        left: 30rem;
    }
}

/* Large Devices  */
@media screen and (min-width:1541px) {
    .swiper-slide {
        height: 44rem;
    }
    .banner_content {
        position: absolute;
        margin: 5rem 21rem;
    }
}

/* SMALL DEVICES */
@media screen and (max-width:350px){
    .section{
        padding: 4rem 0 3rem;
    }
    .section_title{
        font-size: var(--h1-font-size);
    }
   .swiper-slide{
       height: 16rem;
   }
    .home_container{
        /* height: 35vh; */
    }
    .home_img-data{
        bottom: 12rem;
        left: 2rem;
    }
    .home_data-title {
        font-size:var(--h2-font-size);
        line-height: 1.5rem;
    }
    .home_data-subtitle{
        font-size: var(--small-font-size);
        margin: var(--mb-1) 0;
    }
    .btn_img-data{ 
        font-size: var(--small-font-size);
        padding: .5rem 1rem;
    }
    .swiper-button-next, .swiper-button-prev {
        height: 7rem;
        width: 1rem;
    }
    #home_img2 + .home_img-data {
        bottom: 11rem;
        left: 12rem ;

    }
    #home_img2 + .home_img-data .home_data-title {
        line-height: 1;
        font-size: var(--normal-font-size);
    }
    #home_img2 + .home_img-data  .home_data-subtitle{
        padding: 0 12.5rem 0 0;
    }
    /* BANNER */
    .banner {
        height: 7rem;
    }
    .banner_title{
        font-size: var(--h3-font-size);
    }
    .banner_content {
        margin: 1rem 1rem;
    }

    /* COLLECTION */
    .collec_data-subtitle{
        line-height: 3rem;
    }
    /* NEWS SECTION */
    .news_container{
        margin: 0;
    }

    /* subscribe banner */
    .subscribe_content{
        flex-direction: column;
        row-gap: 1rem;
    }

    /*  */

    /* BRANDS */
    .brand{
        padding: 0;
    }
    .experience_section{
        display: none;
    }
    .brands_section{
        padding-top: 2rem;
    }

    .gallery_container{
        display: block;
        grid-template-columns: max-content repeat(auto-fit,minmax(250px,1fr));
    }
    .gallery_descripiton{
        padding: 0;
    }
    .gallery_products{
        gap: 0;    
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) ;
    }

    /* SPECIAL SECTITON */

    .spl_offers_section {
        height: 129vh;
    }
    .spl_offers_container{
        flex-direction: column;
    }
    .spl_offer_img{
        height: 20rem;
    }
    
    .spl_offer:nth-child(1) .spl_offer_content{
        top: 30%;
    }
    .spl_offer_title{
        line-height: 3rem;
    }
    .spl_offer_descripiton {
        display: none;
    }

    /* FOOTER */
    .footer_title{
        padding: 0 1rem;
    }

    .footer_bottem{
        flex-direction: column;
    }



}

/* for shop page  */

@media screen and (min-width:771px) {
    .fashion-poster{
        top: 5rem !important;
        padding-bottom: 2rem;
    }
}